.page-content
  .page-content-area
    .row
      .col-xs-12
        / PAGE CONTENT BEGINS
        .row
          .space-6
          /main container
          .col-sm-12
            .widget-box
              .widget-header
                %h3.widget-title="#{@brand.name} - #{@boat.year} #{@boat.name}"
              .widget-body
                .widget-main
                  .row
                    / left container 
                    .col-sm-6
                      .row
                        .col-xs-12
                          %h4.header.section-header.blue Standard Features
                          %ul.list-inline
                            - @boat.standard_features.each do |feature|
                              %li=feature.name
                      .row
                        .col-xs-12
                          %h4.header.section-header.blue Boat/Motor/Trailer Packages
                          .row
                            .col-xs-12.boat-only
                              .row
                                .col-xs-6.boat-only
                                  %label.motor-group-name 
                                    %input.motor-package-radio{:name => "motorPackages", :type => "radio", :value => "#{@boat.price_in_cents}"}/
                                    Boat Only
                                  .motor-group-price="#{display_price(@boat.price_in_cents)}"
                              - @package_motor_brands.each do |brand|
                                .col-xs-6.motor-group-container
                                  %h5= brand.name
                                  -@boat.motor_packages(brand).each do |motor_package|
                                    .row
                                      .col-xs-12.motor-group
                                        %label.motor-group-name 
                                          %input.motor-package-radio{:name => "motorPackages", :type => "radio", :value => "#{motor_package.price_in_cents}"}/
                                          ="#{motor_package.motor.hp}HP #{motor_package.motor.motor_type}"
                                        .motor-group-price="#{display_price(motor_package.price_in_cents)}"
                      .row
                        .col-xs-12
                          %h4.header.section-header.blue Total
                          %input.total-box{"type" => "text", "value" => "", "placeholder" => "$9,999" }  
                          %p= "#{@boat.message}"                     
                    / right container
                    .col-sm-6
                      %h4.header.section-header.blue Upgrade Options
                      %table#sample-table-1.table.table-striped.table-bordered.table-hover
                        %tbody
                          -@boat.upgrade_options.each do |option|
                            %tr
                              %td.center
                                %label.position-relative
                                  %input.ace{:type => "checkbox"}/
                                  %span.lbl
                              %td
                                %a{:href => "#"}="#{option.name}"
                              %td="#{display_price(option.price_in_cents)}"
                              %td="#{display_price(option.cost_in_cents)}"
                          
%script{:src => "/boat_quote_calculator.js"}                  
